.title-extension {
    font: 600 1rem 'Arial';
    text-align: center;
    margin: 0;
    padding: 0;
}

.body {
    width: 357px;
    overflow-y: hidden;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item, .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    padding: 5px 4px 5px 10px;
}

.buttons__item {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.buttons__item:not(:last-child) {
    margin-right: 5px;
}

.time-description {
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px 0 3px 10px;
}

.list-item__info:not(:last-child) {
    margin-right: 5px;
}


